@model ProductRegistration_Group.Models.Category


<h2>Category Details </h2>

<div>
    <strong>ID: @Model.Id</strong>
    <strong>ID: @Model.CategoryName</strong>


    <a href="/Categories/Edit/@Model.Id" class="btn btn-warning mt-3">Edit</a>
    <a href="/Categories/Delete/@Model.Id" class="btn btn-danger mt-3">Delete</a>
    <a href="/Categories" class="btn btn-secondary mt-3">Back</a>
</div>